.top-bar{
   z-index: 0;
   height: 80px;
   display: flex;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border-bottom-color: rgb(222, 222, 222);
   -webkit-user-select: none; 
   -ms-user-select: none;
   user-select: none; 
}
.left-section {
   display: flex;
   padding-left: 40px;
   align-items: center;
}
.name-logo {
   font-family: 'Montserrat Subrayada', sans-serif;
   font-size: 30px;
   cursor: pointer;
}

.right-section {
   display: flex;
   flex-basis: 0%;
   flex-grow: 1;
   flex-shrink: 1;
   justify-content: flex-end;
   line-height: 90px;
   padding-left: 20px;
   align-self: stretch;
   box-sizing: border-box;
}
.search-button {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding-left: 30px;
   padding-right: 30px;
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: rgb(222, 222, 222);
   cursor: pointer;
   transition: background-color 0.7s;
}
.search-button:hover {
   background-color:  rgb(222, 222, 222);
   transition: background-color 0.7s;
}
.search-icon {
   height: 30px;
   margin-right: 6px;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
.search-text {
   font-family: 'Spinnaker', sans-serif;
}
.menu-button {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding-left: 30px;
   padding-right: 30px;
   border-left-width: 1px;
   border-left-style: solid;
   border-left-color: rgb(222, 222, 222);
   cursor: pointer;
   transition: background-color 0.7s;
}
.menu-button:hover {
   background-color:  rgb(222, 222, 222);
   transition: background-color 0.7s;
}

.menu-icon {
   height: 30px;
   margin-right: 10px;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
.menu-text {
   font-family: 'Spinnaker', sans-serif;
}

@media (max-width: 600px) {
   .search-text {
      font-size: 0px;
   }
   .search-button {
      padding-left: 10px;
      padding-right: 10px;
      border-style: none;
   }
   .search-icon {
      margin-right: 0px;
   }
   .menu-text {
      font-size: 0px;
   }
   .menu-button {
      padding-left: 10px;
      padding-right: 10px;
      border-style: none;
   }
   .menu-icon {
      margin-right: 0px;
   }
   .name-logo {
      font-size: 25px;
   }
}