.contact {
    height: 700px;
    object-fit: cover;
    background-color: black;
    font-family: 'Spinnaker', sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: white;
    /* max-width: 1300px;        */
}
.contact-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}